.main .name {
  font-size: 68px;
  margin-bottom: 30px;
}

.main .text {
  line-height: 44px;
  font-size: 38px;
}
.vp-doc .custom-block {
  margin: 2em 0;
}
.vp-doc .custom-block p {
  margin: 14px 0;
}
.vp-doc h1 {
  margin-bottom: 1em;
}
.custom-block.details summary {
  /* margin-bottom: 1em; */
  font-size: 1.3em;
}

.custom-block.details[open] p {
  font-size: 1.1em;
}
.custom-block.details[open] summary {
  margin-bottom: 1.3em;
}
body {
  overflow-y: scroll;
  /* --vp-custom-block-details-text: red; */
  --vp-custom-block-code-font-size: 14px;
  /* --vp-custom-block-details-text: #54545c; */
}

:not(.dark) body {
  --vp-custom-block-details-text: #54545c;
}
